.p-about {
  &__img {
    height: 100%;
    width: 100%;
    @include custumShadow(0, 3px, 15px, 0, rgba(88, 88, 88, 0.3));
    &__inner {
      height: 100%;
      width: 100%;
    }
  }
  &__profile {
    line-height: 1.7;
    text-align: left;
    padding: 32px;
    background-color: #fff;
    width: 500px;
    height: auto;
    position: relative;
    top: -260px;
    right: -58%;
    @include custumShadow(0, 3px, 15px, 0, rgba(88, 88, 88, 0.3));
    box-sizing: border-box;
    @include mq(){
      top: 0;
      right: 0;
      width: 100%;
    }
  }
  &__name {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  &__text {
    margin-bottom: 16px;
  }
}
