.p-about {
  &__img {
    max-height: 400px;
    max-width: 800px;
    margin: 0 auto;
    @include custumShadow(0, 3px, 15px, 0, rgba(88, 88, 88, 0.3));
    &__inner {
      height: 100%;
      width: 100%;
    }
  }
  &__profile {
    line-height: 1.7;
    text-align: left;
    padding: 32px;
    background-color: #fff;
    width: 500px;
    height: auto;
    z-index: 10;
    margin-top: -220px;
    position: relative;
    margin-left: 24px;
    @include custumShadow(0, 3px, 15px, 0, rgba(88, 88, 88, 0.3));
    box-sizing: border-box;
  }
  &__name {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  &__text {
    margin-bottom: 16px;
  }
}
