.p-eyecatch {
  height: 100vh;
  width: 100%;
  background-color: #00334d;
  &__title {
    font-size: 4rem;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mq() {
      font-size: 3rem;
      width: 100%;
      text-align: center;
    }
    &__wrapp {
      height: 100%;
      width: 100%;
      position: relative;
    }
  }
}
