.p-eyecatch{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    &__title{
        font-size: 4rem;
        position: absolute;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &__wrapp{
            height: 100%;
            width: 100%;
            position: relative;
        }
    }
}