.p-work {
  &__wrapp {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include mq(md) {
      padding: 16px;
    }
  }
  &__card {
    width: calc((100% - 60px) / 3);
    min-height: 400px;
    background-color: #fff;
    margin-bottom: 56px;

    @include custumRadius(5px);
    @include custumShadow(0, 3px, 15px, 0, rgba(88, 88, 88, 0.3));
    &__inner {
      & > p:first-of-type() {
        margin-bottom: 8px;
      }
    }
    @include mq(md) {
      width: 48%;
    }
    &__detail {
      padding: 32px;
      text-align: left;
      font-size: 15px;
    }
    &__meta {
      margin-bottom: 8px;
      &__list {
        display: flex;
        & > li {
          margin-top: 8px;
          margin-right: 8px;
          font-weight: bold;
          & > i {
            font-size: 20px;
          }
        }
      }
    }
  }
  &__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
    border-style: none;
    &__wrapp {
      @include custumRadius(5px 5px 0px 0px);
      overflow: hidden;
      position: relative;
      z-index: 0;
      &:hover img {
        @include pchvoer() {
          cursor: pointer;
          transform: scale(1.1);
          transition: all 0.3s ease;
          filter: contrast(75%) blur(2px) brightness(0.5);
        }
      }
      &::before {
        opacity: 0;
        content: "Show Detail...";
        position: absolute;
        color: #fff;
        border: solid 1px #fff;
        text-shadow: 0 3px 15px 0 rgba(88, 88, 88, 0.3);
        padding: 4px 6px;
        line-height: 1;
        top: 50%;
        left: 50%;
        transform: translate(-80%, -50%);
        z-index: 1;
        transition: all 0.5s ease;
      }
      @include pchvoer() {
        &:hover::before {
          cursor: pointer;
          opacity: 1;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &__detail {
    &__title {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 8px;
    }
  }
}
