.p-work {
  &__wrapp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq(md) {
      padding: 16px;
    }
  }
  &__card {
    width: calc((100% - 60px) / 3);
    min-height: 400px;
    background-color: #fff;
    margin-bottom: 56px;

    @include custumRadius(5px);
    @include custumShadow(0, 3px, 15px, 0, rgba(88, 88, 88, 0.3));
    &__inner {
      & > p:first-of-type() {
        margin-bottom: 8px;
      }
    }
    @include mq(md) {
      width: 48%;
    }
    &__detail {
      padding: 16px;
      text-align: left;
      font-size: 15px;
    }
  }
  &__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
  &__detail {
    &__title {
      font-weight: bold;
    }
  }
}
