// font-sizeやcolor inputなどを共通化しておく。
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  color: $font-color_default;
  font-size: $font-size_default;
  line-height: 1.6;
  text-size-adjust: 100%; // スマホを横向きにしたときのフォントの拡大を防ぐ（親要素のフォントサイズに対する割合にしている）
  letter-spacing: 0.1em;
  background-image: url("../img/background_img.png");
  &::-webkit-scrollbar {
    // スクロールバー全体
    width: 10px; // スクロールバーの幅の設定
  }
  &::-webkit-scrollbar-track {
    // スクロールバーの軌道
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    // スクロールバーの動く部分
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  }
}

html,
body,
button,
textarea,
input {
  font-family: Nunito, M plus\1p, Helvetica Neue, ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
}

// IEではmain要素が display:inline になっているので
main {
  display: block;
}

p,
a {
  -webkit-font-smoothing: antialiased; // フォントを見やすくさせる
}

a {
  color: $link-color;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  cursor: pointer;
  transition: 0.3s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; // imgタグに入る余白を消す
}

input {
  border: 1px solid $color-default;
}

*,
:after,
:before {
  box-sizing: inherit; // 親要素の値を継承する
}
