.c-btn {
  overflow: hidden;
  margin-top: 48px;
  position: relative;
  display: inline-block;
  background-color: transparent;
  padding: 16px 24px;
  transition: all 0.4s ease;
  letter-spacing: 3px;
  outline: none;
  min-width: 200px;
  box-sizing: border-box;
  outline: 2px solid #0a0b37;
  & > span {
    font-weight: bold;
    transition: all 0.4s ease;
    color: #0a0b37;
    display: inline-block;
    position: relative;
  }
  &:hover {
    cursor: pointer;
    transition: all 0.4s ease;
    & > span {
      color: #fff;
      transition: all 0.4s ease;
      z-index: 1;
    }
    &::before {
      left: -10%;
      transform: skew(15deg);
    }
  }
  &:before {
    content: "";
    top: 0;
    position: absolute;
    background-color: #0a0b37;
    left: -125%;
    width: 120%;
    height: 100%;
    transition: all 0.4s ease;
    transform: skew(15deg);
    z-index: 1;
  }
}
