.c-modal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  transition: 0.6s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
  &__youtube {
    width: 100%;
    height: 100%;
  }
  &__container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 90%;
    box-sizing: border-box;
    padding: 50px;
    z-index: 101;
    overflow: auto;
    transition: 0.6s all ease;
    @include custumRadius(8px);
    transform: translate(-50%, -50%);
    background-color: #fff;
    @include mq() {
      width: 100%;
      padding: 40px 16px 16px 16px;
    }
    &::-webkit-scrollbar {
      // スクロールバー全体
      width: 10px; // スクロールバーの幅の設定
      @include mq() {
        width: 7px;
      }
    }
    &::-webkit-scrollbar-track {
      // スクロールバーの軌道
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
      // スクロールバーの動く部分
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
    }
    @include mq() {
      width: 95%;
    }
  }
  &--active {
    opacity: 1;
    transition: 0.6s all ease;
    visibility: visible;
  }
  &__body {
    width: 100%;
    height: 100%;
    position: relative;
    &__img {
      height: 100%;
      object-fit: cover;
    }
    &__closeIcon {
      font-size: 35px;
      position: absolute;
      z-index: 1;
      top: -5%;
      right: -4%;
      @include mq() {
        top: -7%;
        right: -2%;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &__movie {
      width: 100%;
      height: 100%;
      &__inner {
        height: 30rem;
        object-fit: cover;
        width: 100%;
        @include mq() {
          height: 15rem;
        }
        & > video {
          object-fit: cover;
          height: 100%;
          width: 100%;
          outline: none;
          @include custumShadow(0, 3px, 7px, 0, rgba(88, 88, 88, 0.3));
          @include custumRadius(3px);
        }
      }
    }
  }
  &__site {
    padding: 32px;
    @include mq() {
      padding: 8px;
    }
    &__title {
      font-size: 1.7rem;
      margin-bottom: 24px;
      @include mq() {
        font-size: 1.1rem;
        margin-bottom: 16px;
        margin-top: 16px;
      }
    }
    &__info {
      margin-bottom: 16px;
      & > p {
        display: inline-block;
      }
    }
    &__infoDetail {
      & > p {
        display: inline-block;
        margin-bottom: 8px;
      }
    }
    &__detail {
      > span {
        display: inline-block;
        border-bottom: 1px #707070 dashed;
        margin-bottom: 8px;
        margin-top: 8px;
        &:first-child {
          margin-top: 0px;
        }
      }
      & > p {
        margin-bottom: 16px;
      }
    }
  }
}
