.c-modal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  transition: 0.6s all ease;
  opacity: 0;
  visibility: hidden;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
  &__container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 55%;
    height: 90%;
    box-sizing: border-box;
    padding: 48px;
    z-index: 101;
    overflow: auto;
    transition: 0.6s all ease;
    @include custumRadius(8px);
    transform: translate(-50%, -50%);
    background-color: #fff;
    @include mq() {
      width: 95%;
    }
  }
  &--active {
    opacity: 1;
    transition: 0.6s all ease;
    visibility: visible;
  }
  &__body {
    width: 100%;
    height: 100%;
    &__movie {
      width: 100%;
      height: 100%;
      &__inner {
        height: 30rem;
        object-fit: cover;
        width: 100%;
        & > video {
          object-fit: cover;
          height: 100%;
          width: 100%;
          @include custumShadow(0, 3px, 7px, 0, rgba(88, 88, 88, 0.3));
        }
      }
    }
  }
  &__site {
    padding: 32px;
    &__title {
      font-size: 1.7rem;
      margin-bottom: 24px;
    }
    &__detail {
      > span {
        display: inline-block;
        border-bottom: 1px #000 dashed;
        margin-bottom: 8px;
        margin-top: 8px;
        &:first-child{
          margin-top: 0px;
        }
      }
      & > p {
        margin-bottom: 8px;
      }
    }
  }
}
