.c-modal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
  position: fixed;
  transition: 0.6s all ease;
  opacity: 0;
  visibility: hidden;
  &__container {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 70%;
    height: auto;
    box-sizing: border-box;
    padding: 40px;
    z-index: 99;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease;
    @include custumRadius(8px);
    transform: translate(-50%, -50%);
    background-color: #fff;
    @include mq() {
      width: 95%;
    }
  }
  &--active {
    opacity: 1;
    transition: 0.6s all ease;
    visibility: visible;
  }
}
