.c-sidebar {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
  &__profile {
    &__img {
    }
    &__wrapp {
      width: 100%;
      height: auto;
      position: relative;
      & > h1 {
        position: absolute;
        top: 15px;
        right: 25px;
      }
    }
  }
}
