.l-container {
  position: relative;
  max-width: 980px;
  margin: auto;
  padding: 80px 112px;
  @include mq(md) {
    width: 100%;
    padding: 80px 16px;
    box-sizing: border-box;
  }
  &__skill {
    max-width: 1280px;
    @include mq(md) {
      width: 100%;
      padding: 80px 0;
    }
  }
  &__work {
    max-width: 1280px;
    @include mq(md) {
      width: 100%;
    }
  }
  &__contact {
    max-width: 648px;
    margin: 0 auto;
    @include mq() {
      box-sizing: border-box;
      width: 100%;
      padding: 16px;
    }
  }
}
