.l-header{
    padding: 8px;
    height: 100%;
    width: 280px;
    background-color: #191e25;
    color: #fff;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    &__inner{
        padding-top: 24px;
    }
}