.p-about {
  &__img {
    height: 100%;
    width: 100%;
    @include custumShadow(0, 3px, 15px, 0, rgba(88, 88, 88, 0.3));
    @include mq() {
      @include custumShadow(0, 0, 0, 0);
      padding-bottom: 40px;
    }
    &__inner {
      height: 100%;
      width: 100%;
      @extend %profileIMG; // プレースホルダー（末尾に設定あり）
      @include mq() {
        overflow: hidden;
        margin: auto;
      }
    }
    &__profile {
      @extend %profileIMG; // プレースホルダー（末尾に設定あり）
      @include mq() {
        object-fit: cover;
        transform: scale(1.4);
      }
    }
  }
  &__profile {
    line-height: 1.7;
    text-align: left;
    padding: 32px;
    background-color: #fff;
    width: 500px;
    height: auto;
    position: relative;
    top: -260px;
    right: -58%;
    @include custumShadow(0, 3px, 15px, 0, rgba(88, 88, 88, 0.3));
    box-sizing: border-box;
    @include mq() {
      top: 0;
      right: 0;
      width: 100%;
      padding: 24px;
    }
  }
  &__name {
    font-size: 2rem;
    margin-bottom: 16px;
    @include mq() {
      font-size: 1.7rem;
    }
  }
  &__text {
    margin-bottom: 16px;
  }
}

// プロフィール写真専用のプレースホルダーセレクタ
%profileIMG {
  @include mq() {
    border-radius: 50%;
    height: 180px;
    width: 180px;
  }
}
