.p-blog {
  &__imgWrapp {
    display: inline-block;
    height: 220px;
    & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
    @include custumRadius(5px 5px 0px 0px);
    overflow: hidden;
    position: relative;
    z-index: 0;
    &:hover img {
      @include pchvoer() {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.3s ease;
        filter: contrast(75%) blur(2px) brightness(0.5);
      }
    }
    &::before {
      opacity: 0;
      content: "Show Detail...";
      position: absolute;
      color: #fff;
      border: solid 1px #fff;
      text-shadow: 0 3px 15px 0 rgba(88, 88, 88, 0.3);
      padding: 4px 6px;
      line-height: 1;
      top: 50%;
      left: 50%;
      transform: translate(-80%, -50%);
      z-index: 1;
      transition: all 0.5s ease;
    }
    @include pchvoer() {
      // pc以上のディスプレイサイズでホバーアニメーションを実行する
      &:hover::before {
        cursor: pointer;
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__trim {
    position: relative;
    overflow: hidden;
  }
  &__card {
    & > a {
      color: $font-color_default;
    }

    &__wrapp {
      max-width: 80%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 50px;
    }

    &__meta {
      margin-bottom: 16px;
       & > p {
         text-align: left;
       }
    }
  }
  &__cardImg {
    position: absolute;
    object-fit: cover;
  }
  &__detail {
    &__text {
      padding: 16px;
    }
  }
}
