.p-contents {
  text-align: center;

  &__title {
    font-size: 4rem;
    margin-bottom: 32px;
  }
  &__work {
    background: #f9f9f9;
    box-shadow: 0px 0px 4px 2px #ddd inset;
  }
  &__contact {
    background: #f9f9f9;
    box-shadow: 0px 0px 4px 2px #ddd inset;
  }
}
