// // ボタンのスタイリングの微調整
// .u-btn {
// }
// // 内側の余白の微調整
// .u-padding {
// }

// フォントの微調整
.u-text {
  &__workDetail {
    font-weight: bold;
    &__OBJQ {
      color: red;
    }
  }
}

// 外側の余白の微調整
.u-margin {
  &__left {
    &--m {
      margin-left: 24px;
    }
  }
  &__right {
    &--m {
      margin-left: 24px;
    }
  }
}

// フェードインアニメーション
.u-js- {
  &fadeIn {
    opacity: 0;
    transform: translatey(50px);
    transition: 1s;
    &--active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
